/* Основной цвет текста #757575 */
/* Вторичный цвет текста #212121 */
/* Основной цвет фона #E5E5E5 */
/* Вторичный цвет фона #2F303A */
/* Цвет акцента #2196F3 */
/* Цвет лого 1 #2196F3 */
/* Цвет лого 2 #000000 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

/* можно убрать точки у li c class="list"*/
.list {
  list-style: none;
}
/* можно убрать точки у всех li */
/* ul {
  list-style: none;
} */

/* убрал нижнее подчеркивание у всех ссылок */
a {
  text-decoration: none;
}

.logo {
  color: #000000;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}

/* site-nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.mail {
  color: var(--accent-color);
}

.tel {
  color: var(--primary-text-color);
}

/* Hero */

.hero .hero-title {
  color: var(--title-text-color);
}

/* Button */
/* .button {
  color: var(--accent-color);
} */

.button.primary {
  color: #e5e5e5;
  background-color: var(--accent-color);
}

/* Section */
.section-title {
  color: var(--title-text-color);
}

/* Features */
.features .feature-title {
  color: var(--title-text-color);
}

/* Наша команда */
.team .team-name {
  color: var(--title-text-color);
}

.adress {
  color: rgba(255, 255, 255, 1);
}
.auth-nav {
  color: rgb(255, 255, 255, 9);
}
